// Заголовки, общие БЄМ блоки и проче...

.title {
    font-weight: 700;
    font-size: rem(70);
    line-height: math.div( 78, 70);
    color: #FFFFFF;
    span {
        color: $greenColor;
    }
}
//======================================================================================================================
.form {
    max-width: rem(533);
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    padding: rem(6);
    position: relative;
    z-index: 4;
    //перестраиваем форму 
    @media (max-width:$mobile){
         flex-direction: column;
         gap: 15px;
    }
    &__input {
        flex: 1 1 auto;
        padding: rem(20);
        color: #263238;
        font-weight: 500;
        &::placeholder {
            color: #263238;
        }
       @media (max-width:$mobile){
        width: 100%;
        padding: 13px 50px 13px 25px; 
       }
    }
    &__error {
        position: absolute;
        top: 100%;
        left: 0;
        color: #CA4E79;
        font-size: rem(16);
        margin-top: rem(5);
        padding-left: rem(10);
    }
    &__button {
    }
}
//======================================================================================================================
