//====================================================================================================
.footer {
    @include adaptiveValue("margin-top", 200, 100);
    background-color: rgba(53, 64, 70, 0.5);
    padding-top: rem(68);
    padding-bottom: rem(56);
    border-radius: 20px;//
    &__main {
    }
}
.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width:$tablet){
        justify-content: center;
        align-items:center; 
    }
    @include adaptiveValue("gap", 180, 50);
    &__info {
        max-width: rem(325);
    }
    &__logo {
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        &::before {
            content:'';
        }
    }
    &__text {
        margin-top: rem(20);
        font-weight: 300;
        font-size: 18px;
        line-height: 177%;
    }
    &__subscribe {
        max-width: rem(530);
    }
}
.subscribe-footer {
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 177%;
    }
    &__form {
        margin-top: rem(24);
    }
}
.contacts-footer {
    display: flex;
    flex-direction: row;
    gap: rem(48);
    flex-wrap: wrap;
    &__items {
        margin-top: rem(24);
        gap: 10px;
        display: flex;
    }
    &__item {
        transition: all .5s;
        @media (any-hover: hover){
            &:hover{
                transform: scale(1.04);
                box-shadow: 2px 1px 20px rgba(20, 216, 125, 0.2);
                border-radius: 50%;
            }
        }
    }
    &__call {
        margin-bottom: rem(24);
    }
    &__phone {
        transition: all .5s;
        @media (any-hover: hover){
            &:hover{
                color: $greenColor;
            }
        }
    }
}
//==================================  Foter bottom  ==============================================
.footer {
    &__bottom {
        min-height: rem(126);
        border-top:1px solid rgba(255, 255, 255, 0.42);
        @include adaptiveValue("margin-top", 100, 60);
    }
}
.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("padding-top", 56, 26);
    &__rights {
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        @media (max-width:$mobile){
            margin-right: rem(20);
            margin-bottom: rem(20);
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        flex-wrap: wrap;
    }
    &__link {
        transition: all .5s;
        @media (any-hover: hover){
            &:hover{
                color: $greenColor;
            }
        }
    }
}

//====================================================================================================
