//====================================================================================================
.page {
    &__main {
    }
    &__partners {
    }
    &__works {
    }
    &__pathway {
    }
    &__choose {
    }
    &__custom {
    }
}

.main-block {
    position: relative;
    &__container {
        position: relative;
    }
    &__content {
        @include adaptiveValue("padding-top", 250, 130);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media (max-width:$mobile){
             margin-left: 10px; 
             margin-right: 10px;
        }
    }

    &__title {
        max-width: rem(830);
        text-align: center;
        @include adaptiveValue("font-size", 70, 48);
        @media (max-width:$mobile){
            font-size: 38px;
            line-height: 38px; 
        }

    }

    &__sub {
        max-width: rem(725);
        text-align: center;
        margin: 0 auto;
        @include adaptiveValue("margin-top", 70, 40);
    }
    &__icons {
    }
    &__form {
        @include adaptiveValue("margin-top", 48, 28);
    }
}

//======================================= element- ICONS ===============================================
.icons-main-block {
   //Позиционирование в процентах позволяет гибко настроить елементы при адаптиве( в зависимости от размера экрана они 
   // сами меняют свое полодение) 
    &__item {
        position: absolute;
        pointer-events: none;
        @media (max-width:$mobile){
             opacity: 0.4; 
        }
    }
    &__item-1 {
        left: percent(1200, 1620);
        top: percent(245, 984);
    }
    &__item-2 {
        left: percent(230, 1620);
        top: percent(490, 984);
    }
    &__item-3 {
        left: percent(15, 1620);
        top: percent(860, 984);
    }
    &__item-4 {
        left: percent(400, 1620);
        top: percent(960, 984);
    }
    &__item-5 {
        left: percent(1250, 1620);
        top: percent(591, 984);
        @media (max-width:$mobile){
             display: none; 
        }
    }
    &__item-6 {
        left: percent(1530, 1620);
        top: percent(398, 984);
    }
    &__item-7 {
        left: percent(1240, 1620);
        top: percent(970, 984);
    }
        
    //создаем круги на главной странице ...................
    &__circle {
        pointer-events: none;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: 5;
        @include adaptiveValue("width", 585, 350);
        @include adaptiveValue("height", 585, 350);
        @media (max-width:$mobile){
            display: none; 
        }
        &:before {
            content:'';
            display: block;
            border: 1px solid #ffff;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 2px 1px 20px rgba(20, 216, 125, 0.2);
        }
    }
    &__circle-1 {
        &::before{
            transform: translate(calc(-50% + rem(28)), -50%);
        }
    }

    &__circle-2 {
        &::before{
            transform: translate(calc(-50% - rem(27)),calc(-50% + rem(40)));            
        }
    }
	// ..........................................................
}

//====================================================================================================

//====================================section Partners============================================

.partners {
    &__body {
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media (max-width:$mobile){
             justify-content: center; 
        }
    }
    &__item {
        padding: rem(20);
    }
}
//====================================================================================================
//============================================WORK======================================


.works {
    @include adaptiveValue("padding-top", 200, 100);
    &__body {
        display: flex;
        flex-direction: row;
        @include adaptiveValue("gap", 90, 30);
        justify-content: space-between;
        align-items: center;
        @media (max-width:$pc){
             padding: rem(0) rem(15); 
        }
        @media (max-width:$tablet){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        row-gap: 48px;
        padding: rem(0) rem(30);
        //max-width: rem(574);
        
    }
    &__title {
        align-items: start;
        @media (max-width:$mobile){
             font-size: rem(45); 
             text-align: center;
        }
    }
    &__sub {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 177%;
        color: #FFFFFF;
        
    }
    &__image {
        width: 660px;
        height: 604px;
        position: relative;
        
        &::before{
            content:'';
            position: absolute;
            width: 750px;
            height: 936px;
            right: 0;
            top: -166px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 20px;
           @media (max-width: em(1360)){
            display: none; 
           }
        }
        img {
            border-radius: 20px;
            left: -50px;
           @media (max-width:$tablet){
               left: 0;
           }
        }
    }
}
.block-items {
    display: flex;
    flex-direction: column;
    gap: 42px;
    &__descr {
        display: flex;
        font-display: column;
  
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 32px;
        @media (max-width:$mobile){
             flex-direction: column; 
        }
    }
}
.item-block {
    &__icon {
    }
    &__descr {
        @media (max-width:$mobile){
             text-align: center; 
        }
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #FFFFFF;
    }
    &__sub {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: #FFFFFF;
        max-width: rem(400);
    }
}

//====================================================================================================

//==============================================Pathway===============================================


.pathway {
    @include adaptiveValue("padding-top", 280, 100);

    &__body {
        display: flex;
        @include adaptiveValue("gap", 90, 30);
        justify-content: space-between;
        align-items: center;
        @media (max-width:$pc){
             padding: rem(0) rem(15); 
        }
        @media (max-width:$tablet){
            //flex-wrap: wrap;
            justify-content: center;
            flex-direction: column-reverse;
        }
    }

    &__image {
        width: 660px;
        height: 604px;
        @media (max-width:$mobile){
             width: 100%; 
        }
        &::before {
            content:'';
            position: absolute;
            width: 750px;
            height: 936px;
            top: -166px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 20px;
            @media (max-width: em(1360)){
                display: none; 
            }
        }
        img {
            border-radius: 20px;
            left: 50px;
            @media (max-width:$tablet){
                left: 0;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        row-gap: 48px;
        max-width: rem(600);
        padding: rem(0) rem(30);
        @media (max-width:$mobile){
             flex: 1 1 50%; 
             padding: rem(0) rem(5);
        }
    }

    &__title {
        @media (max-width:$mobile){
            font-size: rem(45); 
            text-align: center;
       }
    }
}

//====================================================================================================


//====================================Choose=========================================


.choose {
    @include adaptiveValue("padding-top", 280, 100);
    &__body {
        display: flex;
        flex-direction: row;
        @include adaptiveValue("gap", 90, 30);
        justify-content: space-between;
        align-items: center;
        @media (max-width:$pc){
             padding-left: rem(10);
             padding-right: rem(10);
        }
        @media (max-width:$tablet){
            flex-wrap: wrap;
            justify-content: center;
            padding: rem(0) rem(5);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        row-gap: 48px;
        padding: rem(0) rem(30);
    }

    &__title {
        align-items: start;
        @media (max-width:$mobile){
             font-size: rem(45); 
             text-align: center;
        }
    }

    &__sub {
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 177%;
        color: #FFFFFF;
    }
    &__button {
        width: 222px;
    }

    &__image {
        width: 660px;
        height: 604px;
        position: relative;
        @media (max-width:$mobile){
             width: 100%; 
        }
        img {
            border-radius: 20px;
            left: -50px;
           @media (max-width:$tablet){
               left: 0;
               padding: rem(0) rem(15);

           }
        }
    }
}
.title {
}
.list-items {
    display: flex;
    flex-direction: column;
    gap: 42px;
    &__item {
        display: flex;
        flex-direction: row;
        gap: 74px;
        align-items: center;
    }
    &__num {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        position: relative;
        text-align: center;
        &::before{
            content:'';
            position: absolute;
            width: 64px;
            height: 64px;
            left: -23px;
            top: -15px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            display: flex;
            align-self: center;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
}
//====================================================================================================

//==================================Custom==========================================


.custom {
    @include adaptiveValue("padding-top", 280, 100);
    @media (max-width:$mobile){
        padding-left: rem(10);
        padding-right: rem(10);
    }
    &__title {
        text-align: center;
        @media (max-width:$mobile){
            font-size: rem(45); 
            text-align: center;
       }
    }
    &__sub {
        font-weight: 400;
        font-size: 18px;
        line-height: 177%;
        text-align: center;
        max-width: rem(400);
        margin: 0 auto;
        @include adaptiveValue("margin-top", 40, 20);
    }
    &__button {
        display: block;
        margin: 48px auto;
        width: rem(221);
    }
}

.items-wrp {
    padding: 48px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
    
    @media (max-width:$pc){
        padding: rem(0) rem(15); 
   }
    @media (max-width:$tablet){
        flex-wrap: wrap;
    }
    &__image {
        width: 302px;
        height: 377px;
        img {
            border-radius: 20px 0px 0px 20px;
            @media (max-width:$mobile){
                 border-radius: 20px;
            }
        }
    }
    &__block {
        display: flex;
        flex-direction: row;
        @media (max-width:$mobile){
            flex-direction: column; 
            gap: 10px;
        }
    }
    &__content {
        padding: rem(20);
        //height: 377px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 0px 20px 20px 0px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width:$mobile){
            border-radius: 20px; 
       }
    }
    &__text {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__name {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 177%;
    }
}

//====================================================================================================
//====================================================================================================
